.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container{
  background: url(./css/grey-2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  /* background: no-repeat; */
  color: white;
}


/* Main Container Section */
.main-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  row-gap: 40px;
  align-items: center;
  overflow: hidden;
}

#main-name{
  height: 100px;
  align-content: center;
  grid-column: 2/4;
  align-self: center;
  height: 10px;
  padding: 10px 10px 10px 10px;
  justify-self: center;
}

#main-logo{
  grid-row-start: 2;
  grid-column: 2/4;
  justify-self: center;
  border-radius: 100px;
  /* grid-column-start: 2; */
}

.nav-component{
  grid-column: 2/4;
  grid-row-start: 3;
  justify-self: center;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  column-gap: 15px;
  margin-top: 10px;
  margin-right: 35px;
}
/* End of Main Container  */


/* Extra Components Secion  */
/* ############################# */
/* Home Component Section */
.home-component{
  grid-column: 1/5;
  grid-row-start: 4;
  justify-self: center;
  justify-content: center;
  margin-bottom: 0px;
}

#home-title{
  justify-self: center;
  margin-left: 25%;
}
#contact-1{
  margin-left: 25px;
  margin-bottom: 25px;
  justify-self: center;
}
#contact-2{
  margin-left: 25px;
  margin-bottom: 25px;
  justify-self: center;
}
#contact-3{
  margin-left: 25px;
  margin-bottom: 25px;
  justify-self: center;
}
#contact-4{
  margin-left: 25px;
  margin-bottom: 25px;
  justify-self: center;
}
/* Homed Ending  */

/* Bio Component Start */
.bio-component{
  grid-column: 2/4;
  grid-row-start: 4;
  display: grid;
  justify-self: center;
  margin-bottom: 20px;
  justify-items: stretch;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 20% auto;
  grid-template-rows: auto;
  overflow-y: hidden;
}                         

#bio-title{
  margin-top: 10px;
  grid-row-start: 1;
  grid-column-start: 1;
  margin-left: 0px;
  justify-self: center;
}

#portrait{
  margin-top: 10px;
  grid-column-start: 1;
  grid-row-start: 2;
  margin-left: 0px;
  border-radius: 200px;
  justify-self: center;
  margin-bottom: 25px;
}

#bio-story{
  margin-top: 10px;
  grid-column-start: 1;
  grid-row-start: 3;
  margin-left: 0px;
  text-align: justify;
}

#hobbies-title{
  margin-top: 10px;
  justify-self: center;
  grid-row-start: 4;
  grid-column-start: 1;
}

#hobbies{
  grid-row-start: 5;
  grid-column-start: 1;
  justify-self: center;
  margin-bottom: 50px;
  padding: 10px 10px 10px 10px;
}

/* Bio Component Ending  */

/* Resume Component Start  */
.resume-component{
  grid-column: 2/4;
  grid-row-start: 4;
  /* margin-top: 25px; */
  display: grid;
  grid-template-rows: auto ;
  overflow: hidden;
  justify-content: center;
}

#resume-title{
  margin-top: 10px;
  grid-row-start: 1;
  justify-self: center;
}

#resume-sec-1{
  grid-row-start: 2;
  justify-self: center;
  justify-items: center;
  text-align: justify;
}

#resume-sec-2{
  grid-row-start: 3;
  justify-self: center;
  justify-items: center;
  display: grid;
  grid-template-rows: auto;
}

#sec-2-title{
  grid-row-start: 1;
}

#skills-logo{
  grid-row-start: 2;
}
#sec-2-logo{
  margin-top: 20px;
  grid-row-start: 3;
}

.tool-logo{
  margin-left: 10px;
}

#resume-sec-3{
  grid-row-start: 4;
  text-align: justify;
  justify-self: center;
  justify-items: center;
}

#resume-sec-4{
  grid-row-start: 5;
  justify-self: center;
  justify-items: center;
  text-align: justify;
}
/* Resume Component Ending  */

/* Projects Component Start  */
.projects-component{
  grid-column: 2/4;
  grid-row-start: 4;
  display: grid;
  justify-content: center;
  grid-template-rows: auto;
}

#project-title{
  grid-row-start: 1;
  justify-self: center;
}

#project-1{
  grid-row-start: 2;
  justify-self: center;
}

#project-2{
  grid-row-start: 3;
  justify-self: center;
}

#project-3{
  grid-row-start: 4;
  justify-self: center;
}

#project-4{
  grid-row-start: 5;
  justify-self: center;
}

#project-5{
  grid-row-start: 6;
  justify-self: center;
}

/* Projects Component Ending  */

span{
  margin-left: 25px;
}