.main-container{
    background-image: url('./654769.jpg');
    background-color: aqua;
}

.nav-component{
    display: grid;
}

body{
    background-image: url(./654769.jpg);
}

h1{
    color: blue;
}